.topcellInvoiceInfo td{
    background-color:#DCDCDC; 
    text-align: center; 
    border: .5px solid black;
}

.bottomcellInvoiceInfo{
    text-align: center; 
    border-left: .5px solid black;
    border-right: .5px solid black;
    border-bottom: .5px solid black;
}

.companyInfo ul{
    list-style: none;
}
.companyInfo li:nth-child(1){
    font-size:15px;
    font-weight: bolder;
}

.companyInfo li{
    font-size: 15px;
    font-weight: bold;
}

.companyInfo li{
    font-size: 12px;
    font-weight: bold;
}

.companyInfo li:nth-child(1){
    font-size: 15px;
    font-weight: bolder;
}

.billTo{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.billToShipTo td:nth-child(1){
    margin-left: 50%;
}