.topcellInvoiceInfo td{
    background-color:#DCDCDC; 
    text-align: center; 
    border: .5px solid black; 
}

.bottomcellInvoiceInfo td{
    text-align: center; 
    border: .5px solid black;

}

.companyInfo ul{
    list-style: none;
}
#ATS{
    font-size:15px;
    font-weight: bolder;
}

.companyInfo li{
    font-size: 15px;
    font-weight: bold;
}

.companyInfo li{
    font-size: 12px;
    font-weight: bold;
}


.billTo{
    margin-left: 5%;
    margin-top: 5%;
    font-size:15px;
}

.billToCell{
    text-align: center;
}

.company1{
    border-bottom: 1px solid;
}

.unitTable{
    border-collapse: collapse;
    border: 1px solid black;
}

.unitTableHeader th{
    border: 1px solid black;
    background-color: #DCDCDC;
    text-align: center;
}

.unitTableOutput td{
    border: 1px solid black;
    text-align: center;
}

.invoiceInfo{
    border-collapse: collapse;
    border: 1px solid black;
   
}

#PO{
    font-size: 15px;
}